h2 {
  font-size: 4.8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 #e2e8ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 0.75rem 0.5rem 0.75rem 3.5rem;
  margin-bottom: 2rem;
  transition: all 0.4s;

  &:hover {
    background-color: #ededed;
    cursor: pointer;
    transform: translateY(-0.1rem);
  }
}

.title {
  font-weight: 600;
}

.btn {
  padding: 0rem 0.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
